<?php defined("APP_NAME") or die("Hacking attempt!"); ?>
		<hr>
		<footer>
			<p>
				&copy 2016-2019 <a href="http://belcoders.ru" target="_blank">Belcoders</a>, Inc.
				<span class="pull-right">
					Версия сервиса: <b><?=APP_VERSION?></b> / 
					Вермя генерации страницы: <b><?=GEN_TIME()?> мс.</b>
				</span>
			</p>
		</footer>
	</div>

	<script src="/themes/default/jquery/jquery.min.js"></script>
	<script src="/themes/default/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>