<?php defined("APP_NAME") or die("Hacking attempt!"); ?>
<html>
<head>
	<meta charset="utf-8">
	<title>
		<? if(isset($title)): ?>
			<?=$title?> / <?=APP_NAME?>
		<? else: ?>
			<?=APP_NAME?>
		<? endif; ?>
	</title>
	<link rel="stylesheet" href="/themes/default/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/themes/default/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:500">
    <link rel="stylesheet" href="/themes/default/css/main.css">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
	    <div class="container">
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="/">Belcoders Links</a>
	        </div>
	        <div id="navbar" class="navbar-collapse collapse">
	            <ul class="nav navbar-nav">
	                <li<?php if(CONTROLLER == "IndexController"): ?> class="active"<?php endif; ?>><a href="/">Главная</a></li>
	                <li<?php if(CONTROLLER == "LinksController" && ACTION == "all"): ?> class="active"<?php endif; ?>><a href="/all/">Список ссылок</a></li>
	            </ul>
				<div class="navbar-form navbar-right">
					<a href="/create/" class="btn btn-success"><i class="fa fa-plus"></i> Создать ссылку</a>
				</div>
	        </div>
	    </div>
	</nav>
	<div class="container page-content">