<?php defined("APP_NAME") or die("Hacking attempt!"); ?>
<? if(count($links) > 0): ?>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>#</td>
				<td>Перенаправление на</td>
				<td>Минифицированная ссылка</td>
			</tr>
		</thead>
		<tbody>
			<?php foreach($links as $link): ?>
			<tr>
				<td><?=$link["id"]?></td>
				<td><a href="<?=$link['link']?>"><?=$link["link"]?></a></td>
				<td><a href="/<?=$link['code']?>/">http://links.belcoders.ru/<?=$link["code"]?>/</a></td>
			</tr>
			<?php endforeach; ?>
		</tbody>
	</table>
<? else: ?>
	<div class="alert alert-info">
		<strong>Ссылок не найдено.</strong>
	</div>
<? endif; ?>