<?php defined("APP_NAME") or die("Hacking attempt!"); ?>
<div class="alert alert-info">
	<h4>Внимание!</h4>
	Ссылка должна быть вида <b><i>http://domain.ru</i></b>, либо <b><i>http://domain.ru/link</i></b><br>
	Ссылка должна быть <b><i>не больше 255-и символов</i></b>.
</div>
<form method="POST">
	<input type="text" name="link" class="form-control" placeholder="Ссылка..."><br>
	<input type="submit" class="btn btn-block" value="Создать">
</form>